
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <link rel="stylesheet" href="about.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body class="p-3 mb-2 bg-dark text-white">
    
    <nav class="navbar navbar-light" style="background-color: #e3f2fd">
        <ul >
            <li style="float: left;text-align: left ; display: flex; margin: 12px;padding: 12px;" ><a style="color: black;" href="/"> Home </a> </li>  
            <li style="float: left;text-align: left;display: flex; margin: 12px;padding: 12px;"><a style="color: black;" href="/about">Our Services </a>  </li> 
            <li style="float: left;text-align: left;display: flex; margin: 12px;padding: 12px;"><a style="color: black;" href="contact.asp"> Contact </a> </li> 
        </ul>
     </nav>

    <div style="display: flex;justify-content: center;margin: 40px;padding: 30px;">
            <form style="color: black;">
                
                <label for="fname">Nom*</label>
                 <input type="text" id="fname" name="fname" size="30"><br>
                <label for="pin">Prenom*</label>
                <input type="text" id="pin" name="pin" size="30"><br>
                <label for="pin">Email*</label>
                <input type="text" id="pin" name="pin" size="30"><br>
                <label for="pin">Nom de Produits*</label>
                <input type="text" id="pin" name="pin" size="30"><br>
                <Button style="padding: 15px;margin: 10px;">Submit<Button><br>
              </form>
           
              
              </div>
</body>
</html>

